<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACFBanking</title>
    <link rel="icon" href="http://example.com/favicon.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="in1.css">
</head>
<body>
    <section>
        <input type="checkbox" id="check" style="display: none;">
        <header>
            <h2><a href="#" class="logo"><span style="color: rgb(255, 255, 0);">A</span><span style="color: rgb(0, 138, 180);">C</span><span style="color: rgb(255, 80, 80);">F </span><span style="color: rgb(193, 214, 255); text-transform: lowercase;">Bank</span></a></h2>
            <div class="nav">
                <a href="/home">Home</a>
                <a href="/accounts">view account holders</a>
                <a href="/Alltransactions">Transactions</a>
                
            </div>
            <label for="check" style="padding-right: 20px;">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label>
        </header>
        <div class="base">
            <div class="content">
                <h2>Like a Diamond<br><span>Be Secure !</span></h2>
                <p class="hw">
                    At ACF BANK, it is our continuous endeavor to make you aware of the simple steps to help avoid compromising your details to online scams such as Phishing, Vishing, Spoofing etc. In the event of you suspecting any abnormal activity on your ACF BANK Account, immediately inform ACF BANK of the same to acftouch@yesbank.in or at our 24/7 Contact Center 1800 1200.
                </p>
                <div class="scro">
                    <marquee scrollamount="2" direction="up" height="25px">
                      <div class="ct"><p>Created by <span style="color: rgb(229, 255, 208);">Vasanth</span></p></div>
                      </marquee>
                  </div>                
                <div class="sm"><a href="/accounts" class="info-btn">Accounts</a></div>
            </div>
        </div>
        <div class="base1">
           
            <div class="ftco">
              <p style="color: rgb(255, 255, 255); "><span style="color: rgb(255, 255, 0);font-size: 40px;">A</span><span style="color: rgb(176, 237, 255);font-size: 40px;">C</span><span style="color: rgb(255, 80, 80);font-size: 40px;">F </span> Banking is so secure that we provide additional information about the future benifits and make customers so trustable and mainly people with lots of money will need security for their money and they can blindly
                trust us Because we provide security like a girl!!
              </p>
            </div>
            <hr style="height: 2px;background-color: white;">
            <div class="med-i">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        
       
    </section>
</body>
</html>