@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background:url("v2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    position: relative;
    top:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .nav a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .nav a:not(:last-child){
    margin-right: 30px;
}
header .nav a:hover{
    background-color: #fff;
}
.base{
    max-width: 650px;
    margin:60px 100px;
}
.base .content h2{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 50px;
    margin-bottom: 30px;
    color: rgb(2, 116, 116);
}
.base .content h2 span{
    color: white;
    font-size: 45px;
    font-weight: 600;
}
.base .content p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.base .info-btn{
    background-color: teal;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s;
    transition-property: background;
}
.base .info-btn:hover{
    background-color: #0C4F60;
}
.med-i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.med-i a{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.3s;
    margin-top: 10px;
}
.med-i a:not(:last-child){
    margin-right: 60px;
}
.med-i a:hover{
    transform: scale(1.3);
}
.ftco{
    margin: 0 90px;
    color: rgb(255, 255, 255);
}
.base1{
    background-color: rgba(0, 128, 128, 0.664);
    padding:10px 50px;
    
}
label{
    display: none;
}
#check{
    z-index: 3;
}
.scro{
    position: relative;
    top:-15px;
}
@media (max-width:960px){
    header .nav{
        display: none;
    }
    .ftco{
        margin: 0 1px;
        font-size: 10px;
    }
    .med-i a{
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 15px;
        transition: 0.3s;
        margin-top: 10px;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: white;
    }
    label .close-btn{
        display: none;
    }
    #check:checked ~ header .nav{
        z-index: 2;
        position: fixed;
        background: rgba(114,223,255,0.9);
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .nav a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
    }
    header .logo{
        position: absolute;
        bottom: -6px;
    }
    .base .content h2{
        font-size: 40px;
        line-height: 50px;
    }
    .base .content h2 span{
        font-size: 35px;
        font-weight: 600;
    }
    .base .content p{
        font-size: 13px;
    }
}
@media (max-width:560px){
  
    .base .content h2{
        font-size: 34px;
        line-height: 40px;
        
    }
    .base .content h2 span{
        font-size: 30px;
        font-weight: 600;
    }
    .base .content p{
        font-size: 11px;
    }

}
@media (max-width:460px){
    .fas{
        font-size: 15px;
    }
    .base{
        margin: 45px 40px;
    }
    header{
        padding: 15px 40px;
    }
    header .logo{
        font-size: 20px;
    }
    .base .content h2{
        font-size: 24px;
        line-height: 27px;
        
    }
    .base .content h2 span{
        font-size: 20px;
        font-weight: 600;
    }
    .base .content p{
        font-size: 13px;
    }
    .base .info-btn{
        font-size: 15px;
        background-color: teal;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 5px 10px;
        border-radius: 6px;
        transition: 0.3s;
        transition-property: background;
        
    }
    .sm{
        text-align: center;
    }
}